*/__pycache__/*
__pycache__/*
/instance/*
/sentry_setup.sh
app/blueprints/__pycache__/*
app/blueprints/api/__pycache__/*
app/*/__pycache__/*
app/*/*/__pycache__/*
app/blueprints/api/__pycache__/*
app/models/__pycache__/*
app/models/__pycache__/TaskListModel.cpython-310.pyc
.log/*
