*/__pycache__/*
*/.pypy_*/*
__pycache__/*
/sentry_setup.sh
app/blueprints/__pycache__/*
app/blueprints/api/__pycache__/*
app/*/__pycache__/*
app/*/*/__pycache__/*
app/blueprints/api/__pycache__/*
app/models/__pycache__/*
app/models/__pycache__/TaskListModel.cpython-310.pyc
log/*
/.uwsgi_plugins_builder/
/venv/
/.pypy_wheels/*
/migrations/
